<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot pass</title>
    <link th:href = "@{/bootstrap/css/bootstrap.css}" rel="stylesheet">

</head>
<body>
    <div class="card text-center container-fluid w-25" style="width: 300px;">
        <div class="card-header h5 text-white bg-primary">Quên mật khẩu</div>
        <div class="card-body px-5">
            <p class="card-text py-2">
Nhập email của bạn và bạn sẽ nhận được mật khẩu gửi về mail của mình            </p>
            <div class="form-outline">
                <input type="email" id="typeEmail" class="form-control my-3" />
                <label class="form-label" for="typeEmail">Email</label>
            </div>
            <a href="#" class="btn btn-primary w-100">Xác nhận</a>
            <div class="d-flex justify-content-between mt-4">
                <a class="ms-2" href="#">Đăng nhập</a>
                <a class="ms-2" href="#">Đăng ký</a>
            </div>
        </div>
    </div>

</body>
</html>