<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link th:href = "@{/bootstrap/css/bootstrap.css}" rel="stylesheet">

</head>
<body>
<div th:fragment = "header">
<nav  class="navbar navbar-expand-lg navbar-light bg-primary mb-" style="height: 100%">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-right" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <div class="nav-item">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img th:src="@{/images/icons/favicon.png}" width="30" height="24"
                   class="d-inline-block align-text-top">
            </a>
          </div>
        </div>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Tài khoản
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" th:href="@{/logout}">logout</a></li>

            </a>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
</body>
</html>