
.image2-container {
    position: relative;
    display: inline-block;
}

.checkbox {
    display: none;
    position: absolute;
    top: 0;
    left: -100;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.image2-container:hover .checkbox {
    display: block;
    width: 100%;
}

